In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
#import pandas testing utility
import pandas.util.testing as tm; tm.N=3

#create an unpivoted function
def unpivot(frame):
    N,K=frame.shape
    
    data={'value':frame.values.ravel('F'),
         'variable':np.asarray(frame.columns).repeat(N),
         'date':np.tile(np.asarray(frame.index),K)}
    
    #return the dataframe
    return DataFrame(data,columns=['date','variable','value'])
    
#set the dataframe to be used
dframe=unpivot(tm.makeTimeDataFrame())

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.

In [3]:
dframe

          date variable     value
0   2000-01-03        A -0.784308
1   2000-01-04        A  0.981071
2   2000-01-05        A -1.227100
3   2000-01-06        A -0.275267
4   2000-01-07        A -0.058427
..         ...      ...       ...
115 2000-02-07        D  0.937578
116 2000-02-08        D -0.476197
117 2000-02-09        D  1.363299
118 2000-02-10        D  2.152549
119 2000-02-11        D -1.950364

[120 rows x 3 columns]

In [4]:
dframep=dframe.pivot('date','variable','value')

In [5]:
dframep

variable           A         B         C         D
date
2000-01-03 -0.784308 -1.973340  0.303256  0.004070
2000-01-04  0.981071 -0.314386 -0.490489  1.899345
2000-01-05 -1.227100  0.906371 -0.597407 -1.024903
2000-01-06 -0.275267 -0.957482 -0.919829  0.469922
2000-01-07 -0.058427 -1.376843 -0.039013  0.939377
2000-01-10  0.408431  1.078119 -1.939278 -0.441831
2000-01-11 -0.371141  0.561384  0.471278 -0.989034
2000-01-12  0.952513 -0.402452  0.269427  1.792958
2000-01-13 -1.003311  0.793201 -1.977063  0.287007
2000-01-14 -0.380847 -0.529113  1.148369  0.452293
2000-01-17  1.078321  0.434471  0.477463 -1.506563
2000-01-18 -2.741120  0.418776  2.182624  0.523901
2000-01-19 -0.224108 -0.022803 -0.080120 -0.368054
2000-01-20 -0.650212 -0.501832  0.902178 -0.898459
2000-01-21  1.876611  0.788682 -0.338512  0.463813
2000-01-24  1.271763  0.306680  0.952640 -0.935694
2000-01-25 -1.046564 -0.130641  0.274765 -1.549570
2000-01-26  1.522112  0.980841 -1.436391  0.100696
2000-01-27  1.029829  0.738348 -0.525183  0.313546
2000-01-28 -1.466593 -0.448715  0.684518 -0.737475
2000-01-31 -0.485168  0.590474 -1.478209 -0.277065
2000-02-01 -0.128783 -0.060454  0.203205  0.492956
2000-02-02  2.965865 -0.399055  0.011603  2.040890
2000-02-03 -0.079622 -0.145545  0.587593  2.044133
2000-02-04 -0.659442  2.629541  0.776478 -0.160965
2000-02-07  1.479697 -0.390741 -0.855916  0.937578
2000-02-08 -0.618020  0.131094  1.102696 -0.476197
2000-02-09 -1.028730  0.105704  0.883444  1.363299
2000-02-10 -0.653769 -0.050277 -0.197434  2.152549
2000-02-11 -0.432332  1.294754 -1.697807 -1.950364

In [6]:
dframe=DataFrame({'key1':['A']*2+['B']*3,
                 'key2':[2,2,2,3,3]})

In [7]:
dframe

  key1  key2
0    A     2
1    A     2
2    B     2
3    B     3
4    B     3

In [8]:
dframe.duplicated()

0    False
1     True
2    False
3    False
4     True
dtype: bool

In [9]:
dframe.drop_duplicates()

  key1  key2
0    A     2
2    B     2
3    B     3

In [10]:
dframe.drop_duplicates('key1')

  key1  key2
0    A     2
2    B     2

In [11]:
dframe.drop_duplicates(['key1'],keep='last') #only the last unique value of key1 is kept

  key1  key2
1    A     2
4    B     3

In [12]:
dframem=DataFrame({'city':['Alma','Brian Head','Fox Park'],
                  'altitude':[3158,3000,2762]})

In [13]:
dframem

         city  altitude
0        Alma      3158
1  Brian Head      3000
2    Fox Park      2762

In [14]:
statem={'Alma':'Colorado','Brian Head':'Utah','Fox Park':'Wyoming'}

In [15]:
dframem['state']=dframem['city'].map(statem)

In [16]:
dframem.index=['City1','City2','City3']

In [17]:
dframem

             city  altitude     state
City1        Alma      3158  Colorado
City2  Brian Head      3000      Utah
City3    Fox Park      2762   Wyoming

In [18]:
statem

{'Alma': 'Colorado', 'Brian Head': 'Utah', 'Fox Park': 'Wyoming'}

In [19]:
ser=Series(np.arange(6),index=[['A']*3+['B']*3,[1,2,3,1,2,3]])

In [20]:
ser

A  1    0
   2    1
   3    2
B  1    3
   2    4
   3    5
dtype: int64

In [21]:
ser.replace([0,3],[np.nan,7])

A  1    NaN
   2    1.0
   3    2.0
B  1    7.0
   2    4.0
   3    5.0
dtype: float64

In [22]:
ser.replace({0:np.nan,3:7})

A  1    NaN
   2    1.0
   3    2.0
B  1    7.0
   2    4.0
   3    5.0
dtype: float64

In [23]:
dframem.index=dframem.index.map(str.lower)

In [24]:
dframem

             city  altitude     state
city1        Alma      3158  Colorado
city2  Brian Head      3000      Utah
city3    Fox Park      2762   Wyoming

In [25]:
dframem.rename(index=str.title,columns=str.upper)

             CITY  ALTITUDE     STATE
City1        Alma      3158  Colorado
City2  Brian Head      3000      Utah
City3    Fox Park      2762   Wyoming

In [26]:
dframem.rename(index={'city1':'First','city2':'Second'},columns={'city':'Cities'})

            Cities  altitude     state
First         Alma      3158  Colorado
Second  Brian Head      3000      Utah
city3     Fox Park      2762   Wyoming

In [27]:
dframem #original remains the same

             city  altitude     state
city1        Alma      3158  Colorado
city2  Brian Head      3000      Utah
city3    Fox Park      2762   Wyoming

In [28]:
dframem.rename(index={'city1':'First','city2':'Second'},columns={'city':'Cities'},inplace=True) #now its permanent

In [29]:
dframem

            Cities  altitude     state
First         Alma      3158  Colorado
Second  Brian Head      3000      Utah
city3     Fox Park      2762   Wyoming

In [30]:
years=[1999,2000,2008,2013,2020,1991]

In [31]:
decade=[1990,2000,2010,2020]

In [32]:
cuts=pd.cut(years,decade)

In [33]:
cuts

[(1990, 2000], (1990, 2000], (2000, 2010], (2010, 2020], (2010, 2020], (1990, 2000]]
Categories (3, interval[int64, right]): [(1990, 2000] < (2000, 2010] < (2010, 2020]]

In [34]:
cuts.categories

IntervalIndex([(1990, 2000], (2000, 2010], (2010, 2020]], dtype='interval[int64, right]')

In [35]:
pd.value_counts(cuts)

(1990, 2000]    3
(2010, 2020]    2
(2000, 2010]    1
dtype: int64

In [36]:
pd.cut(years,2,precision=1) #cuts the bins into 2 parts

[(1991.0, 2005.5], (1991.0, 2005.5], (2005.5, 2020.0], (2005.5, 2020.0], (2005.5, 2020.0], (1991.0, 2005.5]]
Categories (2, interval[float64, right]): [(1991.0, 2005.5] < (2005.5, 2020.0]]

In [37]:
np.random.seed(12345)

In [38]:
dframe=DataFrame(np.random.randn(100,4))

In [39]:
dframe.head()

          0         1         2         3
0 -0.204708  0.478943 -0.519439 -0.555730
1  1.965781  1.393406  0.092908  0.281746
2  0.769023  1.246435  1.007189 -1.296221
3  0.274992  0.228913  1.352917  0.886429
4 -2.001637 -0.371843  1.669025 -0.438570

In [40]:
dframe.tail()

           0         1         2         3
95  0.564561 -0.190481 -0.916934 -0.975814
96  2.212303  0.073931  1.818595 -1.581531
97 -0.774363  0.552936  0.106061  3.927528
98 -0.255126  0.854137 -0.364807  0.131102
99 -0.697614  1.335649 -0.151039  0.442938

In [41]:
dframe.describe()

                0           1           2           3
count  100.000000  100.000000  100.000000  100.000000
mean    -0.142766    0.099733    0.063021   -0.076623
std      0.995497    0.918984    1.057519    1.100933
min     -2.557934   -1.860761   -2.644409   -2.420294
25%     -0.788723   -0.571684   -0.699515   -0.773203
50%     -0.256996    0.111051    0.064969   -0.230874
75%      0.637665    0.711930    0.730487    0.624688
max      2.212303    2.613999    3.248944    3.927528

In [42]:
col=dframe[0]

In [43]:
col.head()

0   -0.204708
1    1.965781
2    0.769023
3    0.274992
4   -2.001637
Name: 0, dtype: float64

In [44]:
col[np.abs(col)>2]

4    -2.001637
8    -2.370232
10   -2.359419
30   -2.252797
68   -2.557934
96    2.212303
Name: 0, dtype: float64

In [45]:
dframe[(np.abs(dframe)>2).any(1)]

           0         1         2         3
4  -2.001637 -0.371843  1.669025 -0.438570
5  -0.539741  0.476985  3.248944 -1.021228
8  -2.370232 -1.860761 -0.860757  0.560145
10 -2.359419 -0.199543 -1.541996 -0.970736
16  0.852965 -0.955869 -0.023493 -2.304234
22 -0.131578  0.912414  0.188211  2.169461
23 -0.114928  2.003697  0.029610  0.795253
30 -2.252797 -1.166832  0.353607  0.702110
40 -0.416232 -0.116747 -1.844788  2.068708
42  1.920784  0.746433  2.224660 -0.679400
51 -1.168634 -0.825020 -2.644409 -0.152986
58 -1.052256  1.436603 -0.576207 -2.420294
65 -1.070241  0.804223 -0.156736  2.010390
68 -2.557934  0.160807  0.076525 -0.297204
71  0.890874 -1.151185 -2.612303  1.141250
76  0.380062  0.188995  1.323298 -2.264589
79  0.358756 -0.388245  2.128746  1.409605
80 -0.105434  0.700428  2.092852 -0.136972
83 -1.174894  2.613999 -0.689307 -0.751653
92  1.241573 -0.156760 -2.449096 -1.033948
94 -0.475496  0.106403 -1.308228  2.173185
96  2.212303  0.073931  1.818595 -1.581531
97 -0.774363  0.552936  0.106061  3.927528

In [46]:
dframe[(np.abs(dframe)>2)]=np.sign(dframe)*2

In [47]:
dframe

           0         1         2         3
0  -0.204708  0.478943 -0.519439 -0.555730
1   1.965781  1.393406  0.092908  0.281746
2   0.769023  1.246435  1.007189 -1.296221
3   0.274992  0.228913  1.352917  0.886429
4  -2.000000 -0.371843  1.669025 -0.438570
..       ...       ...       ...       ...
95  0.564561 -0.190481 -0.916934 -0.975814
96  2.000000  0.073931  1.818595 -1.581531
97 -0.774363  0.552936  0.106061  2.000000
98 -0.255126  0.854137 -0.364807  0.131102
99 -0.697614  1.335649 -0.151039  0.442938

[100 rows x 4 columns]

In [48]:
dframee=DataFrame(np.random.permutation(16).reshape(4,4))

In [49]:
dframee

    0   1   2   3
0   2   8  12  15
1   1  13   4   7
2  14  11   5  10
3   3   0   6   9

In [50]:
box=np.array([1,2,3])

In [51]:
shaker=np.random.randint(0,len(box),size=10)

In [52]:
shaker

array([2, 0, 0, 1, 1, 0, 1, 1, 1, 2])

In [53]:
handgrabs=box.take(shaker)

In [54]:
handgrabs

array([3, 1, 1, 2, 2, 1, 2, 2, 2, 3])

In [55]:
dframea=DataFrame({'Data1':[1,2,3,4,5,6],'Data2':np.random.randn(6),'key':['A','A','C','C','E','E']})

In [56]:
dframea

   Data1     Data2 key
0      1  0.839101   A
1      2  0.409719   A
2      3  0.835644   C
3      4  0.182381   C
4      5  0.629688   E
5      6 -0.379172   E

In [57]:
group1=dframea['Data2'].groupby(dframea['Data1'])

In [58]:
group1

In [59]:
group1.mean()

Data1
1    0.839101
2    0.409719
3    0.835644
4    0.182381
5    0.629688
6   -0.379172
Name: Data2, dtype: float64

In [60]:
cities=np.array(['NY','LA','SF','NY'])
month=np.array(['Jan','Feb','Jan','Jan'])

In [61]:
dframea['Data2'][:4].groupby([cities,month]).mean()

LA  Feb    0.409719
NY  Jan    0.510741
SF  Jan    0.835644
Name: Data2, dtype: float64

In [62]:
dframea

   Data1     Data2 key
0      1  0.839101   A
1      2  0.409719   A
2      3  0.835644   C
3      4  0.182381   C
4      5  0.629688   E
5      6 -0.379172   E

In [63]:
dframea.groupby(['key']).agg(['mean','max','min'])

    Data1             Data2
     mean max min      mean       max       min
key
A     1.5   2   1  0.624410  0.839101  0.409719
C     3.5   4   3  0.509012  0.835644  0.182381
E     5.5   6   5  0.125258  0.629688 -0.379172

In [64]:
dframea.groupby(['key']).size()

key
A    2
C    2
E    2
dtype: int64

In [65]:
for name,group in dframea.groupby('key'):
    print("This is the %s group" %name)
    print(group)
    print('\n')

This is the A group
   Data1     Data2 key
0      1  0.839101   A
1      2  0.409719   A


This is the C group
   Data1     Data2 key
2      3  0.835644   C
3      4  0.182381   C


This is the E group
   Data1     Data2 key
4      5  0.629688   E
5      6 -0.379172   E